/*!
 * Plugin Name: Imagined WordPress Loader custom CSS
 * Description: Include custom css as grandchild theme
 * Author:      Imagined | Robin Withaar
 * Version:     1.0
 * Text Domain: imagined
 * Tags:        style,css,theme
 */
 @charset "UTF-8";

 :root {
    --primary:      #007090;
    --secondary:    #0090C0;
    --success:      #009020;
    --warning:      #E0C000;
    --danger:       #C02020;
    --background:   #203040;
 }
 